<div class="container" *ngIf="projectIsExist; else noProject" >
    <div class="row m-3" >
        <input type="text" class="form-control" placeholder="Aranacak kelime..." [(ngModel)]="searchWord" >
    </div>
    <div class="row" *ngFor="let project of projects | searchProject : searchWord">
        <div class="col-12" *ngIf="project; else noProject ">
            <!-- <div>
                <h3>{{project.name}}</h3>
                <p>{{project.description}}</p>
                <ul *ngFor="let task of project.tasks">
                    <li>{{task.name}} - {{task.expectedDate}} </li>
                </ul>
            </div> -->
            <app-project [projectInParent]="project"></app-project>

        </div>
    </div>
</div>

<ng-template #noProject>
    <div class="alert alert-danger">
        Proje Bulunamadı!
    </div>
</ng-template>